.body-contato {
  background: linear-gradient(
    135deg,
    var(--color-pink-300),
    var(--color-purple-400)
  );
  min-height: 100vh;
}

.container {
  margin-bottom: 64px;
}

.titulo-contato {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  color: var(--color-dark-100);
  text-align: center;
  margin: 10px;
}

.subtitulo-contato {
  font-family: "VT323", cursive;
  font-size: 24px;
  color: var(--color-dark-100);
  text-align: center;
  margin-bottom: 12px;
}

.container-contato {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  background-color: var(--color-purple-100);
  min-height: 540px;
  padding: 40px 64px 40px 64px;
  border-radius: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.lado-esquerdo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personagem {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

.fala-personagem {
  font-family: "VT323", cursive;
  font-size: 24px;
  text-align: center;
  color: var(--color-dark-900);
  background-color: var(--color-pink-100);
  padding: 24px;
  margin: 24px;
  border-radius: 18px;
  box-shadow: 0px 0px 4px var(--color-purple-300);
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label-formulario {
  font-family: "VT323", cursive;
  font-size: 32px;
  color: var(--color-dark-900);
}

.input-formulario {
  width: 100%;
  font-size: 18px;
  padding: 8px;
  border: 1px solid var(--color-dark-600);
  padding: 16px 24px;
  border-radius: 8px;
  background-color: var(--color-dark-100);
}

.input-formulario:focus {
  outline: none;
  background-color: var(--color-pink-100);
  box-shadow: 0px 0px 4px var(--color-purple-300);
}

.textarea-formulario {
  height: 120px;
  resize: none;
}

.botao-formulario {
  display: inline-block;
  color: var(--color-white);
  font-size: 24px;
  font-family: "VT323", Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 12px 20px;
  background-color: var(--color-pink-400);
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.3s;
  border: none;
  animation: pulsar 3s ease-in-out infinite;
}

.botao-formulario:hover {
  background-color: var(--color-pink-300);
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 24px auto;
  }

  .titulo-contato {
    font-size: 24px;
    margin: 16px 0;
  }

  .container-contato {
    grid-template-columns: 1fr;
    height: auto;
    padding: 24px;
  }

  .personagem {
    width: 100%;
    max-width: 280px;
    justify-self: center;
  }

  .label-formulario {
    font-size: 24px;
  }

  .botao-formulario {
    width: 100%;
    align-self: stretch;
    font-size: 16px;
    padding: 8px 16px;
  }
}
