.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(233, 247, 254, 0.2);
  height: 104px;
}

.header-logo {
  width: 150px;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-item {
  list-style: none;
}

.header-link {
  color: var(--color-dark-900);
  font-size: 28px;
  padding: 10px;
  font-family: "VT323", cursive;
  transition: color 0.3s;
}

.header-link:hover {
  color: var(--color-dark-500);
}