.body {
  background: linear-gradient(
    135deg,
    var(--color-pink-300),
    var(--color-purple-400)
  );
  height: 100vh;
}

.menu-hamburguer {
  color: var(--color-dark-900);
  font-size: 32px;
  cursor: pointer;
  display: none;
}

.header-nav {
  display: block;
}

.main {
  display: grid;
  align-content: center;
  text-align: center;
  height: calc(100% - (104px + 60px + 40px));
}

.titulo-jogo {
  color: var(--color-white);
  font-size: 40px;
  font-family: "Press Start 2P", cursive;
}

.subtitulo-jogo {
  color: var(--color-white);
  font-size: 30px;
  margin-top: 20px;
  font-family: "VT323", cursive;
}

.botao {
  display: block;
  margin: 20px auto;
  padding: 12px 25px;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  background: var(--color-white);
  border: 3px solid var(--color-pink-500);
  color: var(--color-pink-300);
  border-radius: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.botao:hover {
  background: var(--color-pink-500);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .menu-hamburguer {
    display: block;
  }
  .logo-clicavel {
    display: none;
  }

  .header-nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--color-blue-100);
    width: 100%;
    text-align: center;
  }

  .header-nav.ativo {
    display: block;
  }

  .header-menu {
    flex-direction: column;
    gap: 10px;
  }
}