.body-perguntas {
  background: linear-gradient(
    135deg,
    var(--color-pink-300),
    var(--color-purple-400)
  );
  min-height: 100vh;
}

.main-perguntas {
  margin-bottom: 64px;
}

.titulo-perguntas {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  color: var(--color-dark-100);
  text-align: center;
}

.lista-perguntas {
  margin: 32px;
}

.pergunta {
  width: 80%;
  padding: 20px;
  margin: 0 auto 16px auto;
  background-color: var(--color-purple-200);
  border-radius: 10px 10px 0 0;
  font-family: "VT323", monospace;
  color: var(--color-dark-900);
  font-size: 32px;
  text-align: left;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.pergunta:hover {
  transform: translateY(-5px);
  margin: 0 auto 16px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pergunta.ativo {
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.resposta {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--color-purple-100);
  border-radius: 0 0 10px 10px;
  font-family: "VT323", monospace;
  color: var(--color-dark-700);
  font-size: 24px;
  text-align: left;
  margin-bottom: 32px;
  cursor: pointer;
}

.js .js-lista-perguntas dd {
  display: none;
}

.js-lista-perguntas dt::after {
  content: "▼";
  color: var(--color-pink-500);
  float: right;
}

.js-lista-perguntas dt.ativo::after {
  content: "▲";
  color: var(--color-pink-300);
}

.js-lista-perguntas dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}
@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .pergunta,
  .resposta {
    width: 90%;
    font-size: 24px;
  }
  .titulo-perguntas {
    font-size: 24px;
  }
}
