.body-perguntas {
  background: linear-gradient(
    135deg,
    var(--color-pink-300),
    var(--color-purple-400)
  );
  min-height: 100vh;
}

.titulo-perguntas {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  color: var(--color-pink-500);
  text-align: center;
  margin-top: 32px;
}

.lista-perguntas {
  margin: 32px;
}

.pergunta {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--color-purple-200);
  border-radius: 10px 10px 0 0;
  font-family: "VT323", monospace;
  color: var(--color-dark-900);
  font-size: 32px;
  text-align: left;
}

.resposta {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--color-purple-100);
  border-radius: 0 0 10px 10px;
  font-family: "VT323", monospace;
  color: var(--color-dark-700);
  font-size: 24px;
  text-align: left;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .pergunta,
  .resposta {
    width: 90%;
    font-size: 20px;
  }
  .titulo-perguntas {
    font-size: 24px;
  }
}