html {
  scroll-behavior: smooth;
}

.body-sobre {
  background: linear-gradient(
    135deg,
    var(--color-pink-300),
    var(--color-purple-400)
  );
  min-height: 100vh;
}

.titulo-sobre {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  color: var(--color-dark-100);
  text-align: center;
  margin-top: 32px;
}

.grid-sobre {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 40px;
  margin: 40px auto;
  align-items: stretch;
}

.colunas {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 570px;
  min-height: 340px;
  padding: 20px;
  background-color: var(--color-blue-100);
  border-radius: 18px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.colunas img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.titulo-jogo {
  font-family: "VT323", cursive;
  font-size: 32px;
  color: var(--color-dark-600);
  text-align: center;
}

.btn-historia,
.btn-personagem {
  background-color: var(--color-pink-500);
  color: var(--color-white);
  font-family: "VT323", cursive;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  align-self: center;
}

.btn-historia:hover,
.btn-personagem:hover {
  background-color: var(--color-pink-400);
}

.historia-jogo {
  background-color: var(--color-purple-100);
  width: 100%;
  padding-bottom: 40px;
}

.titulo-historia {
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  color: var(--color-pink-500);
  text-align: center;
  padding: 24px;
}

.grid-historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
  padding: 0 40px;
}

.paragrafo-historia {
  font-family: "VT323", cursive;
  font-size: 28px;
  color: var(--color-dark-700);
  text-align: justify;
  line-height: 1.4;
  margin: 0 auto;
}

.destaque {
  color: var(--color-pink-500);
  font-weight: bold;
  padding: 0 6px;
}

.carrosel-img {
  width: 100%;
  max-width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 15s infinite ease-in-out;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 0 0 100%;
}

.ficha-jogo {
  background-color: var(--color-purple-200);
  width: 90%;
  margin: 60px auto;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.titulo-ficha {
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  color: var(--color-dark-600);
  text-align: center;
  margin-bottom: 30px;
}

.grid-ficha {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item-ficha {
  background-color: var(--color-purple-100);
  padding: 10px;
  border-radius: 12px;
  font-family: "VT323", cursive;
  font-size: 22px;
  color: var(--color-dark-700);
  text-align: center;
}

@keyframes slide {
  0%,
  25% {
    transform: translateX(0);
  }
  30%,
  55% {
    transform: translateX(-100%);
  }
  60%,
  85% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.personagem-jogo {
  background-color: var(--color-purple-200);
  width: 100%;
  padding-bottom: 40px;
}

.titulo-personagem {
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  color: var(--color-pink-500);
  text-align: center;
  padding: 24px;
}

.grid-personagem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 40px;
}

.candyNanda {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 12px;
}

.paragrafo-personagem {
  font-family: "VT323", cursive;
  font-size: 28px;
  color: var(--color-dark-700);
  text-align: justify;
  line-height: 1.4;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .titulo-sobre {
    font-size: 18px;
    margin-top: 20px;
  }

  .grid-sobre {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px;
  }

  .colunas {
    width: 100%;
  }

  .grid-historia {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px;
  }

  .carrosel-img {
    height: 300px;
  }

  .titulo-jogo {
    font-size: 24px;
  }

  .btn-historia,
  .btn-personagem {
    font-size: 18px;
    padding: 8px 16px;
  }

  .titulo-historia {
    font-size: 20px;
  }

  .paragrafo-historia {
    font-size: 20px;
  }

  .personagem-jogo {
    padding: 16px;
  }

  .titulo-personagem {
    font-size: 20px;
  }

  .grid-personagem {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .candyNanda {
    width: 100%;
    height: auto;
  }

  .paragrafo-personagem {
    font-size: 20px;
  }
  .grid-ficha {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-ficha {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
