* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(135deg,var(--color-purple-500),var(--color-pink-500)
  );
  height: 100vh;
  background-repeat: no-repeat;
}

