* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main,
footer {
  filter: blur(5px);
}

img {
  display: block;
  max-width: 100%;
}

.minha-fonte {
  font-family: "VT323", monospace;
  color: var(--color-pink-400);
}

.meu-botao {
  background: var(--color-pink-500);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
}

.meu-botao:hover {
  background: var(--color-pink-300);
  color: var(--color-white);
}
