:root {
  --color-dark-900: #191927;
  --color-dark-800: #252538;
  --color-dark-700: #32324A;
  --color-dark-600: #4A4A66;
  --color-dark-500: #6A6A8A;
  --color-dark-400: #8F8FB0;
  --color-dark-300: #B9B9D4;
  --color-dark-200: #E2E2F2;
  --color-dark-100: #F6F6FD;

  --color-white: #FFFFFF;

  --color-pink-500: #D96CCD;
  --color-pink-400: #E07BD6;
  --color-pink-300: #EFA1E2;
  --color-pink-200: #F6C5ED;
  --color-pink-100: #FDEBFA;

  --color-purple-700: #6A5ACD;
  --color-purple-500: #8F7AE6;
  --color-purple-400: #A08EF0;
  --color-purple-300: #B7A7F6;
  --color-purple-200: #D6CCFB;
  --color-purple-100: #ECE8FF;

  --color-blue-300: #E6F0FF;
  --color-blue-200: #EEF4FF;
  --color-blue-100: #F5F8FF;
}